.filtex .years .years-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5px;
}

.filtex .years .years-header button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    min-width: 30px;
    margin: 5px 0;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: rgba(var(--text-color), 1);
}

.filtex .years .years-header button:hover {
    cursor: pointer;
    background-color: rgba(var(--hover-background-color), 1);
}

.filtex .years .years-header .arrow-left {
    display: inline-block;
    border: solid rgba(var(--text-color), 1);
    border-width: 0 1px 1px 0;
    padding: 2.5px;
    margin-left: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.filtex .years .years-header .arrow-right {
    display: inline-block;
    border: solid rgba(var(--text-color), 1);
    border-width: 0 1px 1px 0;
    padding: 2.5px;
    margin-right: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.filtex .years .years-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.filtex .years .years-content button {
    padding: 15px;
    margin: 5px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: rgba(var(--text-color), 1);
    width: 28%;
}

.filtex .years .years-content button:hover {
    cursor: pointer;
    background-color: rgba(var(--hover-background-color), 1);
}
